/**
* importing fonts
*/
@font-face {
  font-family: 'Volkhov';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/volkhov/v17/SlGQmQieoJcKemNecTUEgA.ttf) format('truetype');
}
@font-face {
  font-family: 'Bangers';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/bangers/v21/FeVQS0BTqb0h60ACH55Q3Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Monoton';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/monoton/v15/5h1aiZUrOngCibe4TkHLRw.ttf) format('truetype');
}
@font-face {
  font-family: 'Allura';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/allura/v19/9oRPNYsQpS4zjuA_iwgT.ttf) format('truetype');
}
@font-face {
  font-family: 'Fredoka One';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/fredokaone/v14/k3kUo8kEI-tA1RRcTZGmTlHGCaI.ttf) format('truetype');
}
@font-face {
  font-family: 'Fredericka the Great';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/frederickathegreat/v16/9Bt33CxNwt7aOctW2xjbCstzwVKsIBVV--SjxbI.ttf) format('truetype');
}
@font-face {
  font-family: 'Bungee Inline';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/bungeeinline/v12/Gg8zN58UcgnlCweMrih332VuPGV__A.ttf) format('truetype');
}
@font-face {
  font-family: 'Ceviche One';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/cevicheone/v16/gyB4hws1IcA6JzR-GB_JX5zabY8.ttf) format('truetype');
}
@font-face {
  font-family: 'Aladin';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/aladin/v19/ZgNSjPJFPrvJV5fF7i38.ttf) format('truetype');
}
/**
* styling form
*/
html,
body {
  min-height: 100%;
  min-width: 22.5%;
  background: url("../../img/grave.svg") no-repeat center center;
  -webkit-background-size: cover;
          background-size: cover;
  background-attachment: fixed;
}
.shadow {
  -webkit-box-shadow: inset 0 10em 10em #000203;
          box-shadow: inset 0 10em 10em #000203;
  min-height: inherit;
}
/**
* main
*/
#main {
  height: auto 100%;
  width: inherit;
  position: relative;
}
#main .menu-hide-unhide {
  position: absolute;
  background-color: rgba(125, 21, 24, 0.8);
  min-height: 100%;
  width: 100%;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#main .menu-hide-unhide .menu {
  -webkit-box-shadow: 0 0 0.3em 0.2em #7d1518;
          box-shadow: 0 0 0.3em 0.2em #7d1518;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  margin: auto;
  width: auto;
  min-height: auto;
  padding: 2em;
  background: #000203;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#main .menu-hide-unhide .menu p {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#main .menu-hide-unhide .menu p #p {
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 0.5em;
}
/*** form-barebone */
#form-frame {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  height: inherit;
  background: none;
  /*** form */
}
#form-frame form {
  padding-top: 3em;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  min-height: inherit;
  /*** form class that includes labels and inputs */
  /*** labels */
  /*** input */
  /*** fieldset */
  /*** legend */
}
#form-frame form #form {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#form-frame form label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Aladin", cursive;
  font-size: 1.8em;
  text-align: right;
  padding-right: 5em;
  color: #7d1518;
  margin-bottom: 0.1em;
  background: inherit;
  text-shadow: 0.1em 0.1em 0.1em #000203, 0.2em 0.2em 0.3em #7d1518;
}
#form-frame form input:focus,
#form-frame form select:focus,
#form-frame form textarea:focus {
  outline-color: #000203;
  outline-width: 0.9em;
  -webkit-box-shadow: 0 0 0.2em 0.3em #7d1518;
          box-shadow: 0 0 0.2em 0.3em #7d1518;
}
#form-frame form input[type=text],
#form-frame form input[type=password] {
  border-right: #000203 solid 0.1em;
  border-left: none;
  border-top: none;
  border-bottom: #000203 solid 0.1em;
  margin-bottom: 2em;
  font-size: 0.79rem;
  text-shadow: 0.1em 0.1em 0.1em #09093b, 0.1em 0.1em 0.2em #009d87;
  -webkit-border-radius: 0 0.5em 0 0.5em;
          border-radius: 0 0.5em 0 0.5em;
  font-family: "Volkhov", serif;
  color: #7d1518;
  padding: 0.5em;
  background: none;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
#form-frame form fieldset {
  padding: 2em;
}
#form-frame form legend {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Monoton", cursive;
  color: #7d1518;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: 3em;
  text-shadow: 0.1em 0.1em 0.1em #000203, 0.2em 0.2em 0.3em #7d1518;
}
/*** h1 */
#h1 {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #f9feff;
  font-family: "Volkhov", serif;
}
.h1 {
  font-family: "Aladin", cursive;
  font-size: 4em;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.1em #7d1518, 0.2em 0.2em 0.3em #000203;
}
#hidden-desc-2 {
  color: #7d1518;
  font-family: "Volkhov", serif;
  color: #000203;
}
#banner {
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Fredoka One", cursive;
  background: none;
  color: #f9feff;
}
.nameAlert {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Fredoka One", cursive;
  background: none;
  color: #7d1518;
}
.msgAlert {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Fredoka One", cursive;
  background: none;
  color: rgba(125, 21, 24, 0.8);
}
.pwdAlert {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Fredoka One", cursive;
  background: none;
  color: rgba(125, 21, 24, 0.6);
}
.checkAlert {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Fredoka One", cursive;
  background: none;
  color: rgba(125, 21, 24, 0.6);
}
a {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-top: 1em;
  -webkit-border-radius: 0.5em;
          border-radius: 0.5em;
  background: #f9feff;
  border: solid 0.1em #f9feff;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}
a #close {
  font-family: "Fredoka One", cursive;
  color: #09093b;
  width: auto;
  height: auto;
  padding: 0.2em;
}
#parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: auto;
  grid-row-gap: auto;
}
.child {
  height: 10em;
  background: none;
  margin-left: auto;
  margin-right: auto;
  padding: 3em;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: none;
  width: 6.25rem;
  height: 9.375rem;
  margin-bottom: 0.5em;
  -webkit-box-shadow: 0.1em 0.1em 0.1em #000203, 0.2em 0.2em 0.3em #7d1518;
          box-shadow: 0.1em 0.1em 0.1em #000203, 0.2em 0.2em 0.3em #7d1518;
}
.xTitle {
  color: #000203;
  font-family: "Aladin", cursive;
  height: auto;
  width: 100px;
  word-wrap: break-word;
  text-align: center;
  text-shadow: 0.2em 0.2em 0.3em #7d1518;
}
input[type=checkbox]:checked {
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0 0 0.2em 0.3em #7d1518;
          box-shadow: 0 0 0.2em 0.3em #7d1518;
}
#xdiv {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 4em;
}
#submit {
  background: url("../../img/demon.png") no-repeat center center;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  background-attachment: fixed;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  padding-top: auto;
  color: rgba(125, 21, 24, 0.8);
  border: none;
  width: 3em;
  height: 3em;
  font-family: "Aladin", cursive;
  font-size: 2rem;
  -webkit-border-radius: 2em;
          border-radius: 2em;
  text-align: center;
  -webkit-box-shadow: 0 0 0.2em 0.3em #7d1518;
          box-shadow: 0 0 0.2em 0.3em #7d1518;
}
#submit:hover {
  -webkit-box-shadow: 0 0 0.5em 0.7em #7d1518;
          box-shadow: 0 0 0.5em 0.7em #7d1518;
}
#content {
  width: 100%;
  padding-bottom: 4em;
}
